<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal</title>
</head>
<body>
  <center><h3>Save Memories here:</h3>
    <form name="memory" method="POST" action="{{ url_for('my_link') }}">
      <textarea name="memories" rows="20" cols="70">
      </textarea>
  <br><br>
    <input type="Submit" value="Submit" />
    </form></center>


</body>
</html>